html{
    height: 100%;
}
body {
    background-color:#2F3035;
    background-image: url(images/background-adare-restaurant.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    margin-left:auto;
    margin-right:auto;
    width: 1024px;
    } 
header{
height: 118px;
text-align: center ;

}

nav{
    background-color:rgba(0, 0, 0, 0.301); 
padding-top: 14px;
    text-align: center;
   padding-bottom: 14px;
     
} 

main{ 
    height: 400px;
    padding-top: 80px;  
    padding-left: 240px;
   padding-right: 240px     
} 

footer{
    background-color:rgba(0, 0, 0, 0.252); 
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
        
}   
h1{
    font-size: 84px;
    color: white;
    font-family:Arial, Helvetica, sans-serif ;
}
p{
    font-size:18px ;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}
a{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    
}
nav a {
    text-decoration: none;
}